
.footer-cta {

	&.block {
		padding: rv( l, 95px ) 0;
	}

	&__button-text {
		color: $coral;
		@include transition( 0.15s color );
		position: relative;
		z-index: $z-index-mid;
	}

	&__button {
		border: rv( l, 2px ) solid $coral;
		background: white;
		min-width: rv( l, 293px );
		font-size: rv( l, 20px );
		padding: rv( l, 23px ) 0 rv( l, 26px);
		@include transition( 0s background 0.05s );

		&:before {
			content: '';
			background: $coral;
			height: 100%;
			width: 0;
			@include transition( 0.15s left ease-in-out, 0s width 0.15s );
			position: absolute;
			z-index: $z-index-base;
			top: 0;
			left: 100%;
		}

		&:hover {
			background: $coral;
			@include transition( 0s background 0.15s );

			.footer-cta__button-text {
				color: white;
			}

			&:before {
				left: 0;
				width: 100%;
				@include transition( 0.15s width ease-in-out, 0s left );
			}
		}
	}

	&__hr {
		display: block;
		margin: rv( l, 32px ) auto rv( l , 34px);
	}
}

.footer {
	width: 100%;
	float: left;

	&__hat,
	&__body,
	&__boots {
		width: 100%;
		padding-left: rv( l, 80px );
		padding-right: rv( l, 80px );
		margin: 0;
		border: none;
	}

	&__hat {
		padding-top: rv( l, 28px );
		padding-bottom: rv( l, 28px );
		background: #a19eb5;
		color: white;
	}

	&__spec-link {
		color: $navy;
		position: relative;
		display: inline-block;
		margin-left: rv( l, 8px );

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: rv( l, 2px );
			min-height: 2px;
			background: $navy;
			position: absolute;
			bottom: -8px;
			left: 0;
			@include transition( .15s background );
		}

		&:hover {
			color: white;

			&:after {
				background: white;
			}
		}
	}

	&__body {
		padding-top: rv( l, 90px );
		padding-bottom: rv( l, 90px );
	}

	&__menu {

		.menu-item {
			display: block;
			text-align: left;
			font-size: rv( l, 18px );
			font-family: $sans;
			line-height: 2.27;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 1.25px;

			a {
				color: white;

				&:hover {
					color: $coral;
				}
			}
		}
	}

	&__contact-header {
		line-height: 2.27;
	}

	&__contact-link {
		display: inline-block;
		color: white;
		line-height: 2.27;
		font-size: rv( l, 18px );

		&:hover {
			color: $coral;
		}
	}

	&__logo-link {
		float: right;
		width: rv( l, 120px );
		@include transition( .15s all );

		&:hover {
			opacity: 0.8;
			@include transform( rotate(6deg) );
		}
	}

	&__logo {
		width: 100%;
	}

	&__boots{
		padding-top: rv( l, 18px );
		padding-bottom: rv( l, 18px );
	}

	&__credits {
		margin: 0;
		line-height: 1;
	}
}

@media ( max-width: $smdesktop-breakpoint ) {

	.footer {
		&__hat,
		&__body,
		&__boots {
			width: 100%;
			padding-left: rv( t, 48px );
			padding-right: rv( t, 48px );
		}

		&__hat {
			padding-top: rv( t, 19px );
			padding-bottom: rv( t, 19px );
		}

		&__body {
			padding-top: rv( t, 36px );
			padding-bottom: rv( t, 36px );
		}

		&__menu {

			.menu-item {
				font-size: rv( t, 16px );
				line-height: 2.2;
				letter-spacing: rv( t, 0.5px );
			}
		}

		&__contact-header {
			line-height: 2.2;
		}

		&__contact-link {
			line-height: 2.5;
			font-size: rv( t, 14px );
		}

		&__logo-link {
			margin-top: rv( t, 15px );
		}

		&__boots{
			padding-top: rv( t, 15px );
			padding-bottom: rv( t, 15px );
		}
	}

	.footer-cta {
	
		&.block {
			padding: rv( t, 65px ) 0;
		}

		&__button {
			min-width: rv( t, 218px );
			font-size: rv( t, 16px );
		}
	}

}

@media ( max-width: $tablet-breakpoint ) {

	.footer-cta {

		&__button,
		&__button:hover {
			background: white;
			@include transition( none );

			&:before {
				display: none;
			}

			.footer-cta__button-text {
				color: $coral;
			}
		}
	}
}

@media ( max-width: $mobile-breakpoint ) {

	.footer-cta {

		&.block.full-width-fluid {
			padding: rv( m, 77px ) rv( m, 50px );
		}
		
		&__button {
			min-width: rv( m, 217px );
			font-size: rv( m, 16px);
			padding: rv( m, 18px) 0; 
		}

		hr {
			margin: rv( m, 21px ) auto rv(m, 22px); 
		}
	}

	.footer {

		&__hat,
		&__body,
		&__boots {
			width: 100%;
			padding-left: rv( m, 22px );
			padding-right: rv( m, 22px );
			text-align: center;
		}

		&__hat {
			padding-top: rv( m, 18px );
			padding-bottom: rv( m, 21px );

			h5 {
				line-height: 1.25;
			}
		}

		&__spec-link {
			display: block;
			width: rv( m, 105px );
			margin: rv( m, 18px ) auto 0;

			&:after {
				height: rv( m, 1px );
				bottom: -4px;
			}
		}

		&__body {
			padding-top: rv( t, 48px );
			padding-bottom: rv( t, 40px );
		}

		&__menu {

			.menu-item {
				font-size: rv( m, 16px );
				text-align: center;
				letter-spacing: rv( m, 1px );
			}
		}

		&__contact {
			border-top: 1px solid white;
			padding-top: rv( m, 21px );
			margin-top: rv( m, 21px );
		}

		&__contact-link {
			font-size: rv( m, 14px );
		}

		&__logo-col {
			display: none;
		}

		&__boots {
			padding: rv( m, 20px ) rv( m, 50px );
		}

		&__credits {
			line-height: 1.25;
		}
	}

}