// Retail page specific styles

#retail-intro {

	h1 {
		padding: 0 rv( l, 84px );
	}

	p {

		&.big {
			margin-bottom: 0;
		}
	}
}

.retail-amenities {
	padding: rv( l, 62px );

	&__features {
		text-align: center;
		padding-top: rv( l, 48px );
		
		li {
			text-align: center;
			display: inline-block;
			padding: 0 rv( l, 84px );

			&.cafe {
				border-left: rv( l, 3px ) solid $navy;
				border-right: rv( l, 3px ) solid $navy;
			}

			&.shopping {
				padding: 0 rv( l, 78px );
			}

			&.dining {

				img {
					height: rv( l, 130px );
				}
			}
		}

		h5 {
			font-size: rv( l, 18px );
			color: $navy;
			font-family: $sans;
			text-transform: uppercase;
			padding: rv( l, 12px ) 0;
		}
	}

	&__image {
		padding-top: rv( l, 16px );

		img {
			height: rv( l, 116px );
			width: auto;
		}
	}
}

.retail-manufacturing {
	padding: rv( l, 62px );

	p {

		&.big {
			margin: 0 auto;
			width: 61%;
		}
	}
}

@media ( max-width: $smdesktop-breakpoint ) {

	#retail-intro {
		
		h1 {
			font-size: rv( s, 60px );
			padding: 0 rv( s, 120px );
		}

		p {
			
			&.big {
				padding: 0 rv( s, 100px );
			}
		}
	}

	.retail-manufacturing {
		padding: rv( s, 62px );

		p {

			&.big {
				width: 95%;
			}
		}
	}

	.retail-amenities {
		padding: rv( s, 62px );

		&__features {
			
			li {

				&.cafe {
					border-left: rv( s, 2px ) solid $navy;
					border-right: rv( s, 2px ) solid $navy;
				}

				&.shopping {

				}

				&.dining {

					img {
						height: rv( s, 130px );
					}
				}

				h5 {
					font-size: rv( s, 18px );
					padding: rv( s, 12px ) 0;
				}
			}
		}

		&__image {
			padding-top: rv( s, 16px );

			img {
				height: rv( s, 116px );
				width: auto;
			}
		}
	}
}

@media ( max-width: $tablet-breakpoint ) {
	#retail-intro {
		
		h1 {
			font-size: rv( t, 34px );
			padding: 0 rv( t, 200px );
		}

		p {
			
			&.big {
				padding: 0 rv( t, 100px );
			}
		}
	}

	.retail-manufacturing {
		padding: rv( t, 48px );
	}

	.retail-amenities {
		padding: rv( t, 48px );

		&__features {
			
			li {

				&.cafe {
					border-left: rv( t, 2px ) solid $navy;
					border-right: rv( t, 2px ) solid $navy;
				}

				&.shopping {

				}

				&.dining {

					img {
						height: rv( t, 80px );
					}
				}

				h5 {
					font-size: rv( t, 14px );
					padding: rv( t, 6px ) 0;
				}
			}
		}

		&__image {
			padding-top: rv( t, 16px );

			img {
				height: rv( t, 72px );
				width: auto;
			}
		}
	}
}

@media ( max-width: $mobile-breakpoint ) {
	#retail-intro {
		
		h1 {
			font-size: rv( m, 30px );
			padding: 0 rv( m, 20px );
			margin-bottom: rv( m, 30px );
		}

		p {
			
			&.big {
				font-size: rv( m, 16px );
				padding: 0 rv( m, 20px );
			}
		}
	}

	.retail-manufacturing {
		padding: rv( m, 48px ) rv( m, 20px );

		p {

			&.big {
				font-size: rv( m, 16px );
			}
		}
	}

	.retail-amenities {
		padding: rv( m, 48px ) rv( m, 20px );

		&__features {
			padding-top: 0;
			
			li {
				width: 100%;
				float: left;
				padding: 0 rv( m, 0px );
				border-bottom: rv( m, 2px ) solid $navy;

				&.cafe {
					border-left: none;
					border-right: none;
				}

				&.shopping {
					border-bottom: none;
				}

				&.dining {

					img {
						height: rv( m, 80px );
					}
				}

				h5 {
					font-size: rv( m, 16px );
					padding-top: rv( m, 22px );
					padding-bottom: rv( m, 24px );
				}
			}
		}

		&__image {
			padding-top: rv( m, 34px );

			img {
				height: rv( m, 72px );
				width: auto;
			}
		}
	}
}