// 404 page specific styles

.notfound-message {

	h1 {
		font-size: rv( l, 153px );
		line-height: rv( l, 197px );
		color: white;
		margin-top: - rv( l, 62px );
		margin-bottom: 0;
	}

	p {
		font-size: rv( l, 24px );
		line-height: rv( l, 20px );
		font-family: $serif;
	}

	&__image {
		width: 100%;
		max-width: rv( l, 146px );
		z-index: $z-index-mid;
		position: relative;
		margin-right: - rv( l, 12px );
	}

	&__hr {
		border-color: $navy;
	}

	.button {
		border-color: $navy;
		background: $navy;

		&:before {
			background: $skyblue;
		}

		&:hover {

			.button__text {
				color: $navy;
			}
		}
	}
}

@media ( max-width: $smdesktop-breakpoint ) {

	.notfound-message {

		h1 {
			font-size: rv( s, 153px );
			line-height: rv( s, 197px );
			margin-top: - rv( s, 62px );
		}

		p {
			font-size: rv( s, 24px );
			line-height: rv( s, 20px );
		}

		&__image {
			max-width: rv( s, 146px );
		}
	}
}

@media ( max-width: $tablet-breakpoint ) {
	
	.notfound-message {

		h1 {
			font-size: rv( t, 161px );
			line-height: rv( t, 208px );
			margin-top: - rv( t, 66px );
		}

		p {
			font-size: rv( t, 16px );
			line-height: rv( t, 20px );
		}

		&__image {
			max-width: rv( t, 154px );
		}
	}
}

@media ( max-width: $mobile-breakpoint ) {

	.notfound-message {

		h1 {
			font-size: rv( m, 130px );
			line-height: rv( m, 168px );
			margin-top: - rv( m, 54px );
		}

		p {
			font-size: rv( m, 14px );
			line-height: rv( m, 20px );
		}

		&__image {
			max-width: rv( m, 125px );
		}
	}
}